.vs/
BingoBookCreator/.vs
BingoBookCreator/.vs/
BingoBookCreator/Debug
BingoBookCreator/Debug/
BingoBookCreator/x64
BingoBookCreator/x64/
BingoBookCreator/BingoBookCreator/x64
BingoBookCreator/BingoBookCreator/x64/
PDF_Support/.vs
PDF_Support/.vs/
PDF_Support/x64
PDF_Support/x64/